[submodule ".deps/github.com~pinf-to~pinf-to-travis-ci~0/source/installed/master"]
	path = .deps/github.com~pinf-to~pinf-to-travis-ci~0/source/installed/master
	url = git@github.com:pinf-to/pinf-to-travis-ci.git
